 
# Entorno virtual
venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Django
*.log
local_settings.py
db.sqlite3
media/

# Variables de entorno
.env

# VS Code
.vscode/

# Sistema operativo
Thumbs.db
.DS_Store